/******************************/

/* hide the template mobile nav */

.Mobile-overlay,
.Mobile-bar.Mobile-bar--top {
  display: none;
}

/******************************/

/* Site loading aesthetics */

.Site {
  .Index-page-content {
    opacity: 0;
    transition: opacity 0.6s;
  }
  &.loaded {
    .Index-page-content {
      opacity: 1;
    }
  }
  position: relative;
  overflow-x: hidden;
}

/******************************/

/* Global Font assignments */

.Site {
  h1 {
    font-family: "Geomanist" !important;
    font-weight: bold !important;
    letter-spacing: 1px;
  }

  h2,
  h3,
  a,
  div,
  input {
    font-family: "Geomanist" !important;
    font-weight: bold !important;
    letter-spacing: 0;
  }

  p {
    font-family: "Geomanist" !important;
    font-weight: 300 !important;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  figure {
    font-family: "Geomanist";
    font-style: italic;
  }
}

/******************************/

/* fix image resizing bug */

section[id*="gallery"] {
  max-height: 92vh;
  height: 45vw;
  min-height: 500px;
  .Index-gallery-wrapper,
  .Index-gallery-item {
    max-height: 92vh;
    height: 45vw;
    min-height: 500px;
  }
}

/*******************************/

/* Footer */

.Footer {
  p {
    font-size: 1em;
    color: @gold;
  }
}

/******************************/

/* SQS Editor In Use Styles */

.sqs-edit-mode-active,
.sqs-edit-mode {
  #main-menu-navigation {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .sqs-block,
  p,
  h1,
  h2,
  h3,
  figure {
    opacity: 1 !important;
    transform: none !important;
  }
  path {
    fill-opacity: 1 !important;
  }
}

#Big-navigation {
  display: none;
}
